<div style="witdh: 100%; text-align: center">
	<div style="width: 160px; height: 175px; background: #0072BB; text-align: center; border-radius: 4px">
		<div class="white" style="font-weight: bolder; font-size: 18px; margin: 2px 0 2px 0; display: inline-block;">
			<span>Dezembro</span></div>
		<div style="background: white; height: 80%; margin-left: 10px; margin-right: 10px; border-radius: 4px;">
			<div style="padding-top: 10px;"><span style="font-size: 45px;font-weight: 900;">16</span></div>
			<div style="margin-top: -4px; margin-bottom: 5px;"><span style="color: #cccccc; font-size: 16px;">Segunda Feira</span></div>
			<div style="height: 1px; background: rgb(199, 196, 196)"></div>
			<div style="margin-top: 5px;"><span style="font-size: 24px">2014</span></div>
		</div>
	</div>
</div>