<div class="container">
	<div class="inner" style="background: red;">
		<div style="display: inner-block;">Teste 1</div>
	</div>
	<div class="inner" style="background: green; width: 500px">
		<div style="background: purple">Teste 2 Teste 2 Teste 2 Teste 2 Teste 2 Teste 2 Teste 2 Teste 2 Teste 2 Teste 2 Teste 2 Teste 2 Teste 2 Teste 2 </div>
		<div>Teste 2</div>
		<div>Teste 2</div>
		<div>Teste 2</div>
		<div>Teste 2</div>
		<div>Teste 2</div>
	</div>
	<div class="inner" style="background: blue;">
		<div>Teste 3</div>
		<div>Teste 3</div>
		<div>Teste 3</div>
	</div>
</div>