<div class="schedule_of_day_inner list">
	<ul class="schedule_of_day_container">
		<li class="movie_item_container">
			<ul style="display: block;">
				<li class="white"><a href="/movies/987/edit" class="white glyphicon glyphicon-edit" target="_blank"></a><span class="">(4x)</span></li>
				<li><span class="">2006</span> <span>  - Drama<span></span></span></li>
					<li class="right"><span>12:40 - 15:00<span></span></span></li>
					<li class="right white "><img src="/assets/small_actor_icon.png" alt="" onclick="$.movies.toggleActors('987');">x2</li>
					<li class="right youtube"><img src="http://www.mahopacpediatricdentistry.com/sites/mahopacpediatricdentistry.com/files/youtube-icon.gif" alt="" onclick="$.movies.toggleYoutube('987');"></li>
					<li class="right"><a href="http://www.imdb.com/title/tt0449467/" target="_blank"><img src="http://artisgeek.com/static/img/icons/imdb.png" alt=""></a></li>
					<li class="right" style="width: 299px;">
						<div class="progress progress-striped active">
		  				<div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 88%">
		    				<span class="sr-onlys">85% Complete</span>
		  				</div>
						</div>
					</li>
			</ul>
			<div class="movie_item_photo_and_names_container">
				<div class="small_image">
					<div style="position_relative">
						<div id="actual_movie_image_element_987" style="position: absolute"><img src="http://multicanaltv.com/images/hollywoodpt/prg/th/90340_0.jpg" onerror="this.src='/assets/no_image.jpg'"></div>
					</div>
				</div>
				<div class="names">
					<span class=""><a href="/movies/987" target="_blank">Babel </a></span><br>
					<span class="">Babel</span><br>
					Realizado por: Alejandro Gonzáles Iñárritu<br>	
					Interpretado por: <a href="/actors/3" style="target: _blank">Brad Pitt</a>, <a href="/actors/160" style="target: _blank">Cate Blanchett</a>
				</div>
			</div>

			<div id="movie_987_youtube" class="youtube_container">
				<object width="560" height="315"><param name="movie" value="https://www.youtube-nocookie.com/v/gzrHrTVaqJs?hl=en_US&amp;version=3"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="https://www.youtube-nocookie.com/v/gzrHrTVaqJs?hl=en_US&amp;version=3" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></object>
			</div>

		  <div id="movie_987_actors" class="actors_container">
				<div style="display: inline-block;">
					<div style="margin-left: auto; margin-right: auto">3 - Brad Pitt</div>
					<div><img alt="Bradpitt" src="https://dl.dropboxusercontent.com/u/2001692/actor/BradPitt.jpg"></div>
				</div>
				<div style="display: inline-block;">
					<div style="margin-left: auto; margin-right: auto">160 - Cate Blanchett</div>
					<div><img alt="Cateblanchett" src="https://dl.dropboxusercontent.com/u/2001692/actor/CateBlanchett.jpg"></div>
				</div>
			</div>
		</li>
	</ul>
</div>