<style>
	.container {
		width: 100px; 
		height: 100px; 
		position: relative; 
		border-top-left-radius: 100px; 
		border-top-right-radius: 100px; 
		border-bottom-right-radius: 100px; 
		border-bottom-left-radius: 100px; 
		background-color: rgb(1, 0, 3);
	}	

	.one {
		position: absolute; 
		top: 0px; 
		left: 0px; 
		width: 100px; 
		height: 100px; 
		border-top-left-radius: 100px; 
		border-top-right-radius: 100px; 
		border-bottom-right-radius: 100px; 
		border-bottom-left-radius: 100px; 
		clip: rect(0px 100px 100px 50px);
	}

	.two {
		background-color: rgb(253, 242, 246); 
		position: absolute; 
		top: 0px; 
		left: 0px; 
		width: 100px; 
		height: 100px; 
		border-top-left-radius: 100px; 
		border-top-right-radius: 100px; 
		border-bottom-right-radius: 100px; 
		border-bottom-left-radius: 100px; 
		clip: rect(0px 50px 100px 0px); 
		-webkit-transform: rotate(111.6deg);
	}
</style>

<div class="container">
	<div class="one">
		<div class="two"></div>
	</div>
</div>


<div style="width: 100px; height: 100px; position: relative; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; background-color: rgb(1, 0, 3);">
	<div style="position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; clip: rect(0px 100px 100px 0px); -webkit-transform: rotate(0deg);">
		<div style="background-color: rgb(253, 242, 246); position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; clip: rect(0px 50px 100px 0px); -webkit-transform: rotate(180deg);">
		</div>
	</div>
	<div style="position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; clip: rect(0px 100px 100px 50px); -webkit-transform: rotate(180deg);">
		<div style="background-color: rgb(253, 242, 246); position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; border-top-left-radius: 100px; border-top-right-radius: 100px; border-bottom-right-radius: 100px; border-bottom-left-radius: 100px; clip: rect(0px 50px 100px 0px); -webkit-transform: rotate(61.2deg);">
		</div>
	</div>
</div>