<div style="width: 100%">
	<ul class="schedule_of_day_container">
		<% @movies.each do |movie| %>
			<%= render "schedules/item", movie: movie %>
		<% end %>
	</ul>
</div>
<%= render "layouts/imdb_rating_plugin" %>