/* Colors --------------------- */

//DEFINE BASE COLORS
$blue: #00a6e5;
//$green: #6ACD00; // merge, which one to use?
$green: #94c800;
$red: #FF5E5E;
$white:#FFF;
$grey:#222222;
$light_grey: #828282;
$orange: #FFC600;

//DEFINE COLOR USAGE
$alert_color: $red;
$link_color: $light_grey;
$text: $grey;
$light_text: $white;
