<div id="movie_<%= movie.id %>_actors" class="actors_container">
	<% movie.actors.each do |actor| %>
	<div style="display: inline-block;">
		<div style="margin-left: auto; margin-right: auto"><%= "#{actor.id} - #{actor.name}" %></div>
		<div><%= image_tag(actor.display_image) %></div>
	</div>
<% end %>
</div>